In [2]:
%pylab

Using matplotlib backend: agg
Populating the interactive namespace from numpy and matplotlib

In [3]:
import sqlite3 as sq
from astropy.table import vstack, Table
import pandas as pd
import os
import glob

In [3]:
def is_number(s):
    # I need a function like this below to decide whether
    # to insert apostrophes around the arguments in SQL.
    try:
        float(s)
        return True
    except ValueError:
        return False

In [4]:
Info=Table.read('/Users/guadalupecanasherrera/DDM2017_FinalProject/FinalProject/Q1/Tables/file_info_for_problem.csv',format='ascii.csv')

In [5]:
Info

<Table length=18>
  ID  FieldID               Filename               ... Airmass Exptime
int64  int64                 str36                 ... float64 float64
----- ------- ------------------------------------ ... ------- -------
    1       1   Z-ADP.2017-01-18T11:58:36.905.fits ...  1.6405    40.0
    2       1   J-ADP.2017-01-18T11:58:35.781.fits ...  1.0105    48.0
    3       1   H-ADP.2017-01-18T11:58:35.780.fits ...   1.006    16.0
    4       1  Ks-ADP.2016-05-25T15:33:39.546.fits ...   1.023    16.0
    5       1  Ks-ADP.2017-01-18T11:58:39.907.fits ...   1.079    16.0
    6       1  Ks-ADP.2016-05-25T15:33:43.377.fits ...  1.6085    16.0
    7       1   Y-ADP.2017-01-18T11:58:36.901.fits ...  1.5605    40.0
    8       2  Z-ADP.2017-01-18T11:58:36.905b.fits ...  1.6405    40.0
    9       2  J-ADP.2017-01-18T11:58:35.781b.fits ...  1.0105    48.0
   10       2  H-ADP.2017-01-18T11:58:35.780b.fits ...   1.006    16.0
   11       2 Ks-ADP.2016-05-25T15:33:39.546b.fits ...   1.023    16.0
   12       2  Y-ADP.2017-01-18T11:58:36.901b.fits ...  1.5605    40.0
   13       3  Z-ADP.2017-01-18T11:58:36.905c.fits ...  1.6405    40.0
   14       3  J-ADP.2017-01-18T11:58:35.781c.fits ...  1.0105    48.0
   15       3  H-ADP.2017-01-18T11:58:35.780c.fits ...   1.006    16.0
   16       3 Ks-ADP.2016-05-25T15:33:39.546c.fits ...   1.023    16.0
   17       3 Ks-ADP.2017-01-18T11:58:39.907c.fits ...   1.079    16.0
   18       3  Y-ADP.2017-01-18T11:58:36.901c.fits ...  1.5605    40.0

In [8]:
# filenames= [y for x in os.walk('/disks/strw1/ramospadilla/3Sem/DBDM/FinalProject/Q1/Tables') for y in glob(os.path.join(x[0], '*.fits'))]
items = os.listdir("/Users/guadalupecanasherrera/DDM2017_FinalProject/FinalProject/Q1/Tables")
newlist = []
for names in items:
    if names.endswith(".fits"):
        newlist.append(names)

In [10]:
newlist

['Field-1-H.fits',
 'Field-1-J.fits',
 'Field-1-Ks-E001.fits',
 'Field-1-Ks-E002.fits',
 'Field-1-Ks-E003.fits',
 'Field-1-Y.fits',
 'Field-1-Z.fits',
 'Field-2-H.fits',
 'Field-2-J.fits',
 'Field-2-Ks-E001.fits',
 'Field-2-Y.fits',
 'Field-2-Z.fits',
 'Field-3-H.fits',
 'Field-3-J.fits',
 'Field-3-Ks-E001.fits',
 'Field-3-Ks-E002.fits',
 'Field-3-Y.fits',
 'Field-3-Z.fits']

In [18]:
#ListaNombre=['Field-1-Z.fits','Field-1-J.fits','Field-1-H.fits','Field-1-Ks-E002.fits','Field-1-Ks-E001.fits',
#            'Field-1-Ks-E003.fits','Field-1-Y.fits','Field-2-Z.fits','Field-2-J.fits','Field-2-H.fits',
#           'Field-2-Ks-E001.fits','Field-2-Y.fits','Field-3-Z.fits','Field-3-J.fits','Field-3-H.fits',
#             'Field-3-Ks-E002.fits','Field-3-Ks-E001.fits','Field-3-Y.fits']
            
ListaNombre=['Field-1-Z','Field-1-J','Field-1-H','Field-1-Ks-E002','Field-1-Ks-E001',
            'Field-1-Ks-E003','Field-1-Y','Field-2-Z','Field-2-J','Field-2-H',
            'Field-2-Ks-E001','Field-2-Y','Field-3-Z','Field-3-J','Field-3-H',
             'Field-3-Ks-E002','Field-3-Ks-E001','Field-3-Y']

In [19]:
Info['RealFilename']=ListaNombre

In [20]:
Info

<Table length=18>
  ID  FieldID               Filename               ... Exptime   RealFilename
int64  int64                 str36                 ... float64      str15
----- ------- ------------------------------------ ... ------- ---------------
    1       1   Z-ADP.2017-01-18T11:58:36.905.fits ...    40.0       Field-1-Z
    2       1   J-ADP.2017-01-18T11:58:35.781.fits ...    48.0       Field-1-J
    3       1   H-ADP.2017-01-18T11:58:35.780.fits ...    16.0       Field-1-H
    4       1  Ks-ADP.2016-05-25T15:33:39.546.fits ...    16.0 Field-1-Ks-E002
    5       1  Ks-ADP.2017-01-18T11:58:39.907.fits ...    16.0 Field-1-Ks-E001
    6       1  Ks-ADP.2016-05-25T15:33:43.377.fits ...    16.0 Field-1-Ks-E003
    7       1   Y-ADP.2017-01-18T11:58:36.901.fits ...    40.0       Field-1-Y
    8       2  Z-ADP.2017-01-18T11:58:36.905b.fits ...    40.0       Field-2-Z
    9       2  J-ADP.2017-01-18T11:58:35.781b.fits ...    48.0       Field-2-J
   10       2  H-ADP.2017-01-18T11:58:35.780b.fits ...    16.0       Field-2-H
   11       2 Ks-ADP.2016-05-25T15:33:39.546b.fits ...    16.0 Field-2-Ks-E001
   12       2  Y-ADP.2017-01-18T11:58:36.901b.fits ...    40.0       Field-2-Y
   13       3  Z-ADP.2017-01-18T11:58:36.905c.fits ...    40.0       Field-3-Z
   14       3  J-ADP.2017-01-18T11:58:35.781c.fits ...    48.0       Field-3-J
   15       3  H-ADP.2017-01-18T11:58:35.780c.fits ...    16.0       Field-3-H
   16       3 Ks-ADP.2016-05-25T15:33:39.546c.fits ...    16.0 Field-3-Ks-E002
   17       3 Ks-ADP.2017-01-18T11:58:39.907c.fits ...    16.0 Field-3-Ks-E001
   18       3  Y-ADP.2017-01-18T11:58:36.901c.fits ...    40.0       Field-3-Y

In [17]:
Inte=Table()
for ii,files in enumerate(newlist):
#     print(files[:-5])
    Files=Table.read('/Users/guadalupecanasherrera/DDM2017_FinalProject/FinalProject/Q1/Tables/'+str(files),format='fits')
    for jj, kola in enumerate(Info):
        if kola['RealFilename']==files:
            Files['ID']=np.ones(len(Files))*kola['ID']
    Inte=vstack([Inte,Files])

In [26]:
Df_Pandas=Inte.to_pandas()
con = sq.connect('SimpleTables-pandas2.db')
# And create the tables.
Df_Pandas.to_sql('AllO', con, if_exists='replace')

In [23]:
for ii,files in enumerate(newlist):
#     print(files[:-5])
    Files=Table.read('/Users/guadalupecanasherrera/DDM2017_FinalProject/FinalProject/Q1/Tables/'+str(files),format='fits')
    for jj, kola in enumerate(Info):
        if kola['RealFilename']==files:
            Files['ID']=np.ones(len(Files))*kola['ID']
#     print(files,Files)
    Df_Pandas=Files.to_pandas()
    con = sq.connect('SimpleTables-pandas.db')
    # And create the tables.
    Df_Pandas.to_sql(files[:-5], con, if_exists='replace')
#     Files.write('Q1/Tables/'+str(files[:-5])+'.csv',format='ascii.csv')

In [24]:
Df_Pandas=Info.to_pandas()
con = sq.connect('SimpleTables-pandas.db')
Df_Pandas.to_sql('README', con, if_exists='replace')

In [10]:
Fil1=Table.read('/disks/strw1/ramospadilla/3Sem/DBDM/FinalProject/Q1/Tables/Field-1-H.fits',format='fits')
Fil2=Table.read('/disks/strw1/ramospadilla/3Sem/DBDM/FinalProject/Q1/Tables/Field-1-Ks-E001.fits',format='fits')

In [ ]:
Flux=std([Fil1['Flux1'],Fil1['Flux2'],Fil1['Flux3']],axis=0)**2

In [ ]:
SRD=std([Fil1['dFlux1'],Fil1['dFlux2'],Fil1['dFlux3']],axis=0)**2

In [ ]:
SNR=Flux/SRD
sum(SNR<5)

In [ ]:
print(Fil1.colnames,Fil1.dtype)

In [ ]:
InfoSchema = """CREATE TABLE IF NOT EXISTS MagTable (ID Integer,
       FieldID Integer,
       Filename varchar(36),
       Filter varchar(2),
       MJD Float,
       Airmass Float,
       Exptime Float,
       UNIQUE(ID));
"""

In [ ]:
FluxSchema = """CREATE TABLE IF NOT EXISTS MagTable (RunningID Float,
X Float, Y Float, Flux1 Float, dFlux1 Float, Flux2 Float, dFlux2 Float, Flux3 Float, dFlux3 Float,
Ra Float, Dec Float, Class Float, Mag1 Float, dMag1 Float, Mag2 Float, dMag2 Float, Mag3 Float, dMag3 Float,
StarID Integer,
UNIQUE(StarID));
"""

In [ ]:
newlist2 = []
for names in items:
    if names.endswith(".csv"):
        newlist2.append(names)

In [ ]:
newlist2.remove('file_info_for_problem.csv')

In [ ]:
tables={}#dict()

for jj, file in enumerate(newlist2):
    tables[file]=[file,FluxSchema]

In [ ]:
# tables = {'InfoTable': ['/disks/strw1/ramospadilla/3Sem/DBDM/FinalProject/Q1/Tables/file_info_for_problem.csv', InfoSchema],
#             'FluxTable': ['Q1/Tables/Field-1-H.csv', FluxSchema]}

In [ ]:
tables

In [ ]:
# con = sq.connect('SimpleTables-default.db')
# with con:
#     for name in tables.keys():
#         file_name, schema = tables[name]
#         print("I will read from {0}".format(file_name))
#         t = Table().read('Q1/Tables/'+str(file_name), format='csv')
        
#         con.execute(schema)
#         for row in t:
#             command = "INSERT INTO {0} VALUES(".format(name)
#             n_columns = len(row)
#             for i, col in enumerate(row):
#                 # Now the trick here is how to handle strings. Numbers do
#                 # not need to be enclosed in apostrophes so I'll just do
#                 # the simple check
#                 if is_number(col):
#                     arg = str(col)
#                 else:
#                     arg = "'"+str(col)+"'"
                    
#                 command = command+arg
#                 if i < n_columns-1:
#                     command = command+','

#             command = command+')'
            
#             try:
#                 print("Command = {0}".format(command))
#                 con.execute(command)
#             except:
#                 pass